<?xml version="1.0" encoding="utf-8"?>
<robot name="myAGV plus" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="controller_config" default="" />
  <xacro:arg name="namespace" default=""/>
  <xacro:arg name="use_sim" default="false" />
  
  <xacro:property name="controller_config" value="$(arg controller_config)" />
  <xacro:property name="namespace" value="$(arg namespace)" />
  <xacro:property name="use_sim" value="$(arg use_sim)" />

  <!-- PROPERTIES -->
  <xacro:property name="wheel_radius" value="0.04"/>

  <!-- INCLUDE ROBOT MACRO -->
  <xacro:include filename="$(find myagv_plus_description)/urdf/common/gazebo.urdf.xacro" ns="gazebo" />
  <xacro:include filename="$(find myagv_plus_description)/urdf/common/ros2_control.urdf.xacro" ns="ros2_control" />
  <xacro:include filename="$(find myagv_plus_description)/urdf/robot/base.urdf.xacro" ns="base" />
  <xacro:include filename="$(find myagv_plus_description)/urdf/robot/wheel.urdf.xacro" ns="wheel" />

  <!-- BASE -->
  <xacro:base.base wheel_radius="${wheel_radius}" />

  <!-- WHEEL -->
  <xacro:wheel.wheel wheel_radius="${wheel_radius}" side="fl" />
  <xacro:wheel.wheel wheel_radius="${wheel_radius}" side="rl" />
  <xacro:wheel.wheel wheel_radius="${wheel_radius}" side="fr" />
  <xacro:wheel.wheel wheel_radius="${wheel_radius}" side="rr" />

  <!-- HARDWARE PLUGINS -->
  <xacro:unless value="${use_sim}">
    <xacro:ros2_control.rosbot_system namespace="${namespace}" />
  </xacro:unless>

  <!-- GAZEBO PLUGINS -->
  <xacro:if value="${use_sim}">
    <xacro:ros2_control.gz_rosbot_system namespace="${namespace}" />
    <xacro:gazebo.controller config_file="${controller_config}" namespace="${namespace}" />
    <xacro:gazebo.imu reference_frame="imu_link" namespace="${namespace}" />
  </xacro:if>

</robot>